# Module 1 - Manipulating data with Pandas
## Pandas Part 2

![austin](http://www.austintexas.gov/sites/default/files/aac_logo.jpg)

## Scenario:
You have decided that you want to start your own animal shelter, but you want to get an idea of what that will entail and get more information about planning. In this lecture, we are continue to look at a real data set collected by Austin Animal Center over several years and use our pandas skills from the last lecture and learn some new ones in order to explore this data further.

#### _Our goals today are to be able to_: <br/>

Use the pandas library to:

- Get summary info about a dataset and its variables
  - Apply and use info, describe and dtypes
  - Use mean, min, max, and value_counts 
- Use apply and applymap to transform columns and create new values

- Explain lambda functions and use them to use an apply on a DataFrame
- Explain what a groupby object is and split a DataFrame using a groupby
- Reshape a DataFrame using joins, merges, pivoting, stacking, and melting

## Getting started

Let's take a moment to examine the [Austin Animal Center data set](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Outcomes/9t4d-g238/data). What kinds of questions can we ask this data and what kinds of information can we get back?

In pairs and as a class, let's generate ideas.

## Switch gears

Before we answer those questions about the animal shelter data, let's practice on a simpler dataset.
Read about this dataset here: https://www.kaggle.com/ronitf/heart-disease-uci
![heart-data](images/heartbloodpres.jpeg)

The dataset is most often used to practice classification algorithms. Can one develop a model to predict the likelihood of heart disease based on other measurable characteristics? We will return to that specific question in a few weeks, but for now we wish to use the dataset to practice some pandas methods.

### 1. Get summary info about a dataset and its variables

Applying and using `info`, `describe`, `mean`, `min`, `max`, `apply`, and `applymap` from the Pandas library

The Pandas library has several useful tools built in. Let's explore some of them.

In [3]:
!pwd
!ls -al

/home/will/DS_inclass/dc-ds-071519/1-Module/week-2/day-6-pandas-part-2
total 156
drwxr-xr-x 3 will will   4096 Jul 22 12:26 .
drwxr-xr-x 3 will will   4096 Jul 22 09:36 ..
-rw-rw-r-- 1 will will  11325 Jul 22 09:43 heart.csv
drwxr-xr-x 2 will will   4096 Jul 22 09:49 .ipynb_checkpoints
-rw-r--r-- 1 will will 119805 Jul 22 12:26 manipulating_data_with_pandas.ipynb
-rw-r--r-- 1 will will   3297 Jul 22 09:36 pre_process_animal_shelter_data.py
-rw-r--r-- 1 will will    130 Jul 22 09:36 states.csv

In [4]:
import pandas as pd
uci = pd.read_csv('heart.csv')

In [5]:
uci.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

#### The `.columns` and `.shape` Attributes

In [6]:
uci.columns

Index(['age', 'sex', 'cp', 'trestbps', 'chol', 'fbs', 'restecg', 'thalach',
       'exang', 'oldpeak', 'slope', 'ca', 'thal', 'target'],
      dtype='object')

In [7]:
uci.shape

(303, 14)

#### The `.info() `and `.describe()` and `.dtypes` methods

Pandas DataFrames have many useful methods! Let's look at `.info()` , `.describe()`, and `dtypes`.

In [8]:
# Call the .info() method on our dataset. What do you observe?

uci.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 303 entries, 0 to 302
Data columns (total 14 columns):
age         303 non-null int64
sex         303 non-null int64
cp          303 non-null int64
trestbps    303 non-null int64
chol        303 non-null int64
fbs         303 non-null int64
restecg     303 non-null int64
thalach     303 non-null int64
exang       303 non-null int64
oldpeak     303 non-null float64
slope       303 non-null int64
ca          303 non-null int64
thal        303 non-null int64
target      303 non-null int64
dtypes: float64(1), int64(13)
memory usage: 33.2 KB

In [9]:
# Call the .describe() method on our dataset. What do you observe?

uci.describe().T

          count        mean        std    min    25%    50%    75%    max
age       303.0   54.366337   9.082101   29.0   47.5   55.0   61.0   77.0
sex       303.0    0.683168   0.466011    0.0    0.0    1.0    1.0    1.0
cp        303.0    0.966997   1.032052    0.0    0.0    1.0    2.0    3.0
trestbps  303.0  131.623762  17.538143   94.0  120.0  130.0  140.0  200.0
chol      303.0  246.264026  51.830751  126.0  211.0  240.0  274.5  564.0
fbs       303.0    0.148515   0.356198    0.0    0.0    0.0    0.0    1.0
restecg   303.0    0.528053   0.525860    0.0    0.0    1.0    1.0    2.0
thalach   303.0  149.646865  22.905161   71.0  133.5  153.0  166.0  202.0
exang     303.0    0.326733   0.469794    0.0    0.0    0.0    1.0    1.0
oldpeak   303.0    1.039604   1.161075    0.0    0.0    0.8    1.6    6.2
slope     303.0    1.399340   0.616226    0.0    1.0    1.0    2.0    2.0
ca        303.0    0.729373   1.022606    0.0    0.0    0.0    1.0    4.0
thal      303.0    2.313531   0.612277    0.0    2.0    2.0    3.0    3.0
target    303.0    0.544554   0.498835    0.0    0.0    1.0    1.0    1.0

In [10]:
# Use the code below. How does the output differ from info() ?
uci.dtypes

age           int64
sex           int64
cp            int64
trestbps      int64
chol          int64
fbs           int64
restecg       int64
thalach       int64
exang         int64
oldpeak     float64
slope         int64
ca            int64
thal          int64
target        int64
dtype: object

#### `.mean()`, .`min()`,` .max()`, `.sum()`

The methods `.mean()`, `.min()`, and `.max()` will perform just the way you think they will!

Note that these are methods both for Series and for DataFrames.

In [11]:
type(uci.age)

pandas.core.series.Series

In [12]:
uci.ca.mean()

0.7293729372937293

#### The Axis Variable

In [13]:
uci.sum() # Try [shift] + [tab] here!

age         16473.0
sex           207.0
cp            293.0
trestbps    39882.0
chol        74618.0
fbs            45.0
restecg       160.0
thalach     45343.0
exang          99.0
oldpeak       315.0
slope         424.0
ca            221.0
thal          701.0
target        165.0
dtype: float64

#### .`value_counts()`

For a DataFrame _Series_, the `.value_counts()` method will tell you how many of each value you've got.

In [14]:
uci['age'].value_counts()[:10]

58    19
57    17
54    16
59    14
52    13
51    12
62    11
44    11
60    11
56    11
Name: age, dtype: int64

Exercise: What are the different values for restecg?

In [15]:
uci['restecg'].value_counts()

1    152
0    147
2      4
Name: restecg, dtype: int64

### Apply to Animal Shelter Data
Using `.info()` and `.describe()` and `dtypes` what observations can we make about the data?

What are the breed value counts?

How about age counts for dogs?

In [16]:
animal_outcomes = pd.read_csv('https://data.austintexas.gov/api/views/9t4d-g238/rows.csv?accessType=DOWNLOAD')

In [17]:
animal_outcomes.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A798909,NaN,07/22/2019 09:34:00 PM,07/22/2019 09:34:00 PM,06/02/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair,Black
1,A798933,NaN,07/22/2019 09:33:00 PM,07/22/2019 09:33:00 PM,04/17/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,Blue Tabby/White
2,A800552,NaN,07/22/2019 07:34:00 PM,07/22/2019 07:34:00 PM,07/22/2018,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat,Brown
3,A799925,NaN,07/22/2019 07:27:00 PM,07/22/2019 07:27:00 PM,05/01/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever/German Shepherd,Black
4,A800293,Brixton,07/22/2019 07:26:00 PM,07/22/2019 07:26:00 PM,07/18/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,Brown/White

What are the breed `value_counts`?
What's the top breed for adopted dogs?

How about outcome counts for dogs?

In [18]:
animal_outcomes[(animal_outcomes['Animal Type']=='Dog')]['Outcome Type'].value_counts()

Adoption           27536
Return to Owner    16885
Transfer           12845
Euthanasia          1643
Rto-Adopt            346
Died                 210
Missing               26
Disposal              14
Name: Outcome Type, dtype: int64

### 2.  Changing data

#### DataFrame.applymap() and Series.map()

The ```.applymap()``` method takes a function as input that it will then apply to every entry in the dataframe.

In [19]:
def successor(x):
    
    return x + 1

In [20]:
uci.applymap(successor).head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,64,2,4,146,234,2,1,151,1,3.3,1,1,2,2
1,38,2,3,131,251,1,2,188,1,4.5,1,1,3,2
2,42,1,2,131,205,1,1,173,1,2.4,3,1,3,2
3,57,2,2,121,237,1,2,179,1,1.8,3,1,3,2
4,58,1,1,121,355,1,2,164,2,1.6,3,1,3,2

The `.map()` method takes a function as input that it will then apply to every entry in the Series.

In [21]:
uci['age'].map(successor).tail(10)

293    68
294    45
295    64
296    64
297    60
298    58
299    46
300    69
301    58
302    58
Name: age, dtype: int64

#### Anonymous Functions (Lambda Abstraction)

Simple functions can be defined right in the function call. This is called 'lambda abstraction'; the function thus defined has no name and hence is "anonymous".

In [22]:
uci['oldpeak'].map(lambda x: round(x))[:4]

0    2
1    4
2    1
3    1
Name: oldpeak, dtype: int64

Exercise: Use an anonymous function to turn the entries in age to strings

In [23]:
uci['oldpeak'].map(lambda x: str(x))[:4]

0    2.3
1    3.5
2    1.4
3    0.8
Name: oldpeak, dtype: object

### Apply to Animal Shelter Data

Use an `apply` to change the dates from strings to datetime objects. Similarly, use an apply to change the ages of the animals from strings to floats.

In [8]:
animal_outcomes.DateTime.dtype

dtype('O')

In [24]:
animal_outcomes['date_outcome']=animal_outcomes.DateTime.map(lambda x : pd.to_datetime(x[:10], format='%m/%d/%Y', errors='ignore'))

In [25]:
type(animal_outcomes.date_outcome[0])

pandas._libs.tslibs.timestamps.Timestamp

In [26]:
animal_outcomes.head(1)

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcome
0,A798909,NaN,07/22/2019 09:34:00 PM,07/22/2019 09:34:00 PM,06/02/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair,Black,2019-07-22

In [27]:
animal_outcomes['dob']=animal_outcomes['Date of Birth'].map(lambda x : pd.to_datetime(x, format='%m/%d/%Y', errors='ignore'))

In [28]:
animal_outcomes.drop(columns='DateTime', inplace=True)

In [29]:
0.dtanimal_outcomes.head(1)

,Animal ID,Name,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color,date_outcome,dob
0,A798909,NaN,07/22/2019 09:34:00 PM,06/02/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair,Black,2019-07-22,2019-06-02

In [108]:
animal_outcomes['age_days']=(animal_outcomes.date_outcome - animal_outcomes.dob).dt.days

In [109]:
animal_outcomes['age_years']=animal_outcomes['age_days']/365

In [123]:
animal_outcomes['year']=animal_outcomes['date_outcome'].dt.year
animal_outcomes['year']

0         2019
1         2019
2         2019
3         2019
4         2019
5         2019
6         2019
7         2019
8         2019
9         2019
10        2019
11        2019
12        2019
13        2019
14        2019
15        2019
16        2019
17        2019
18        2019
19        2019
20        2019
21        2019
22        2019
23        2019
24        2019
25        2019
26        2019
27        2019
28        2019
29        2019
          ...
104461    2013
104462    2013
104463    2013
104464    2013
104465    2013
104466    2013
104467    2013
104468    2013
104469    2013
104470    2013
104471    2013
104472    2013
104473    2013
104474    2013
104475    2013
104476    2013
104477    2013
104478    2013
104479    2013
104480    2013
104481    2013
104482    2013
104483    2013
104484    2013
104485    2013
104486    2013
104487    2013
104488    2013
104489    2013
104490    2013
Name: year, Length: 104491, dtype: int64

## 3. Methods for Re-Organizing DataFrames
#### `.groupby()`

Those of you familiar with SQL have probably used the GROUP BY command. Pandas has this, too.

The `.groupby()` method is especially useful for aggregate functions applied to the data grouped in particular ways.

In [32]:
uci.groupby('sex')

#### `.groups` and `.get_group()`

In [33]:
uci.groupby('sex').groups

{0: Int64Index([  2,   4,   6,  11,  14,  15,  16,  17,  19,  25,  28,  30,  35,
              36,  38,  39,  40,  43,  48,  49,  50,  53,  54,  59,  60,  65,
              67,  69,  74,  75,  82,  84,  85,  88,  89,  93,  94,  96, 102,
             105, 107, 108, 109, 110, 112, 115, 118, 119, 120, 122, 123, 124,
             125, 127, 128, 129, 130, 131, 134, 135, 136, 140, 142, 143, 144,
             146, 147, 151, 153, 154, 155, 161, 167, 181, 182, 190, 204, 207,
             213, 215, 216, 220, 223, 241, 246, 252, 258, 260, 263, 266, 278,
             289, 292, 296, 298, 302],
            dtype='int64'),
 1: Int64Index([  0,   1,   3,   5,   7,   8,   9,  10,  12,  13,
             ...
             288, 290, 291, 293, 294, 295, 297, 299, 300, 301],
            dtype='int64', length=207)}

In [34]:
uci.groupby('sex').get_group(0).tail()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
289,55,0,0,128,205,0,2,130,1,2.0,1,1,3,0
292,58,0,0,170,225,1,0,146,1,2.8,1,2,1,0
296,63,0,0,124,197,0,1,136,1,0.0,1,0,2,0
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

### Aggregating

In [26]:
uci.groupby('sex').mean()

,age,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
sex,,,,,,,,,,,,,
0,55.677083,1.041667,133.083333,261.302083,0.12500,0.572917,151.125000,0.229167,0.876042,1.427083,0.552083,2.125000,0.750000
1,53.758454,0.932367,130.946860,239.289855,0.15942,0.507246,148.961353,0.371981,1.115459,1.386473,0.811594,2.400966,0.449275

Exercise: Tell me the average cholesterol level for those with heart disease.

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
5,57,1,0,140,192,0,1,148,0,0.4,1,0,1,1
6,56,0,1,140,294,0,0,153,0,1.3,1,0,2,1
7,44,1,1,120,263,0,1,173,0,0.0,2,0,3,1
8,52,1,2,172,199,1,1,162,0,0.5,2,0,3,1
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2,1

In [ ]:
uci.groupby()

### Apply to Animal Shelter Data

#### Task 1
- Use a groupby to show the average age of the different kinds of animal types.
- What about by animal types **and** gender?

In [73]:
animal_outcomes.groupby(['Animal Type']).age_days.mean(numeric_only=False)

Animal Type
Bird         44227581589958160
Cat          46612918605183840
Dog          88479364162199456
Livestock    36261000000000000
Other        40063712887438824
Name: age_days, dtype: int64

In [74]:
animal_outcomes.columns

Index(['Animal ID', 'Name', 'MonthYear', 'Date of Birth', 'Outcome Type',
       'Outcome Subtype', 'Animal Type', 'Sex upon Outcome',
       'Age upon Outcome', 'Breed', 'Color', 'date_outcome', 'dob', 'age_days',
       'year', 'month', 'age_years'],
      dtype='object')

In [75]:
animal_outcomes.groupby(['Animal Type','Sex upon Outcome']).size()

Animal Type  Sex upon Outcome
Bird         Intact Female          65
             Intact Male           147
             Unknown               266
Cat          Intact Female        6584
             Intact Male          5947
             Neutered Male       11522
             Spayed Female       11519
             Unknown              3401
Dog          Intact Female        5832
             Intact Male          6756
             Neutered Male       25056
             Spayed Female       21493
             Unknown               368
Livestock    Intact Female           6
             Intact Male             5
             Neutered Male           1
             Unknown                 4
Other        Intact Female         246
             Intact Male           314
             Neutered Male         148
             Spayed Female         119
             Unknown              4690
dtype: int64

#### Task 2:
- Create new columns `year` and `month` by using a lambda function x.year on date
- Use `groupby` and `.size()` to tell me how many animals are adopted by month

In [76]:
animal_outcomes['year']=animal_outcomes.date_outcome.map(lambda x:x.year)

In [77]:
animal_outcomes['month']=animal_outcomes.date_outcome.map(lambda x:x.month)

In [81]:
animal_outcomes[animal_outcomes['Outcome Type']=='Adoption'].groupby(['year','month'])['Animal ID'].size()

year  month
2013  10        606
      11        552
      12        684
2014  1         518
      2         437
      3         483
      4         439
      5         507
      6         660
      7         907
      8         816
      9         607
      10        582
      11        519
      12        652
2015  1         540
      2         484
      3         472
      4         402
      5         629
      6         706
      7         896
      8         721
      9         630
      10        583
      11        658
      12        656
2016  1         599
      2         539
      3         540
               ...
2017  2         647
      3         440
      4         510
      5         702
      6         746
      7         867
      8         851
      9         686
      10        709
      11        575
      12        649
2018  1         572
      2         508
      3         592
      4         471
      5         620
      6         790
      7         808
      8         914
      9         665
      10        698
      11        482
      12        803
2019  1         757
      2         554
      3         664
      4         531
      5         716
      6        1019
      7         638
Name: Animal ID, Length: 70, dtype: int64

In [111]:
animal_outcomes.groupby(['Animal Type'])['age_years'].mean()

Animal Type
Bird         1.402447
Cat          1.478086
Dog          2.805662
Livestock    1.149829
Other        1.270412
Name: age_years, dtype: float64

## 4. Reshaping a DataFrame

### `.pivot()`

Those of you familiar with Excel have probably used Pivot Tables. Pandas has a similar functionality.

In [112]:
pd.pivot_table(animal_outcomes, values = 'age_years', index ='Animal Type', columns = 'Outcome Type')

Outcome Type,Adoption,Died,Disposal,Euthanasia,Missing,Relocate,Return to Owner,Rto-Adopt,Transfer
Animal Type,,,,,,,,,
Bird,1.436348,1.207828,1.003767,1.315504,1.052055,2.882496,1.290250,NaN,1.437576
Cat,1.308130,1.194283,2.043955,3.209395,1.385898,NaN,4.339341,3.653078,1.164983
Dog,2.083231,2.819843,2.448532,4.684750,2.285985,NaN,4.109438,3.580149,2.380233
Livestock,1.089954,0.041096,NaN,NaN,NaN,NaN,0.447489,NaN,1.745662
Other,1.360477,0.999807,1.144907,1.309469,0.564384,0.832055,2.519048,NaN,1.085887

### Methods for Combining DataFrames: `.join()`, `.merge()`, `.concat()`, `.melt()`

### `.join()`

In [134]:
toy1 = pd.DataFrame([[63, 142], [33, 47]], columns = ['age', 'HP'])
toy2 = pd.DataFrame([[63, 100], [33, 200]], columns = ['age', 'HP'])

In [135]:
toy1.join(toy2.set_index('age'),
          on = 'age',
          lsuffix = '_A',
          rsuffix = '_B').head()

   age  HP_A  HP_B
0   63   142   100
1   33    47   200

### `.merge()`

In [ ]:
ds_chars = pd.read_csv('ds_chars.csv', index_col = 0)

In [ ]:
states = pd.read_csv('states.csv', index_col = 0)

In [ ]:
ds_chars.merge(states,
               left_on='home_state',
               right_on = 'state',
               how = 'inner')

### `pd.concat()`

Exercise: Look up the documentation on pd.concat (https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.concat.html) and use it to concatenate ds_chars and states.
<br/>
Your result should still have only five rows!

In [ ]:
pd.concat([ds_chars, states])

### `pd.melt()`

Melting removes the structure from your DataFrame and puts the data in a 'variable' and 'value' format.

In [ ]:
ds_chars.head()

In [ ]:
pd.melt(ds_chars,
        id_vars=['name'],
        value_vars=['HP', 'home_state'])

## Bringing it all together with the Animal Shelter Data

Join the data from the [Austin Animal Shelter Intake dataset](https://data.austintexas.gov/Health-and-Community-Services/Austin-Animal-Center-Intakes/wter-evkm) to the outcomes dataset by Animal ID.

Use the dates from each dataset to see how long animals spend in the shelter. Does it differ by time of year? By outcome?

The Url for the Intake Dataset is here: https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD

_Hints_ :
- import and clean the intake dataset first
- use apply/applymap/lambda to change the variables to their proper format in the intake data
- rename the columns in the intake dataset *before* joining
- create a new days-in-shelter variable
- Notice that some values in "days_in_shelter" column are NaN or values < 0 (remove these rows using the "<" operator and ~is.na())
- Use group_by to get some interesting information about the dataset

Make sure to export and save your cleaned dataset. We will use it in a later lecture!

use the notation `df.to_csv()` to write the `df` to a csv. Read more about the `to_csv()` documentation [here](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html)

In [152]:
intake=pd.read_csv('https://data.austintexas.gov/api/views/wter-evkm/rows.csv?accessType=DOWNLOAD')

In [153]:
intake['DateTime']=intake.DateTime.map(lambda x : pd.to_datetime(x[:10], format='%m/%d/%Y', errors='ignore'))

In [154]:
intake.drop(['MonthYear'], axis=1)

,Animal ID,Name,DateTime,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A800561,NaN,2019-07-23,11209 Metric Blvd in Austin (TX),Stray,Injured,Dog,Neutered Male,6 years,Miniature Pinscher Mix,Black/Tan
1,A800557,NaN,2019-07-23,1109 S Pleasant Valley in Austin (TX),Stray,Normal,Cat,Unknown,1 year,Domestic Shorthair,Black
2,A800556,NaN,2019-07-23,4434 Frontier Trail in Austin (TX),Stray,Injured,Cat,Intact Female,1 year,Domestic Shorthair,Tortie
3,A660391,NaN,2019-07-22,Pedernales And East 6Th Street in Austin (TX),Stray,Normal,Dog,Intact Male,7 years,Pit Bull Mix,Brown
4,A739213,Zorro,2019-07-22,Manor (TX),Public Assist,Normal,Dog,Intact Male,4 years,Australian Shepherd Mix,Black/Gray
5,A800459,Luna,2019-07-22,Manor (TX),Public Assist,Normal,Dog,Intact Female,6 years,Australian Cattle Dog,Black/Tan
6,A800552,NaN,2019-07-22,2809 Pectoral Dr in Austin (TX),Public Assist,Normal,Other,Unknown,1 year,Bat,Brown
7,A800546,NaN,2019-07-22,600 West William Cannon Drive in Austin (TX),Stray,Normal,Dog,Intact Male,7 months,Labrador Retriever Mix,White
8,A800553,NaN,2019-07-22,Pond Springs Road in Austin (TX),Stray,Pregnant,Dog,Intact Female,9 months,Anatol Shepherd,Cream/Black
9,A800550,NaN,2019-07-22,Austin (TX),Stray,Normal,Cat,Intact Male,6 days,Domestic Shorthair,Brown Tabby
10,A800547,NaN,2019-07-22,Austin (TX),Stray,Normal,Cat,Intact Male,6 days,Domestic Shorthair,Orange Tabby
11,A800549,NaN,2019-07-22,Austin (TX),Stray,Normal,Cat,Intact Female,6 days,Domestic Shorthair,Black
12,A800551,NaN,2019-07-22,Austin (TX),Stray,Normal,Cat,Intact Female,6 days,Domestic Shorthair,Brown Tabby
13,A800548,NaN,2019-07-22,Austin (TX),Stray,Normal,Cat,Intact Male,6 days,Domestic Shorthair,Orange Tabby
14,A800545,NaN,2019-07-22,2800 Locke in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Dachshund,Brown Brindle
15,A800544,NaN,2019-07-22,18608 White Rim Trail in Leander (TX),Stray,Normal,Dog,Intact Male,1 year,Yorkshire Terrier,Tan/Silver
16,A800543,NaN,2019-07-22,9806 Willers Way in Austin (TX),Stray,Normal,Cat,Intact Female,2 years,Domestic Shorthair,Orange Tabby
17,A800542,NaN,2019-07-22,710 East Ben White Bovlevard in Austin (TX),Stray,Normal,Cat,Intact Female,6 months,Domestic Shorthair,Brown Tabby
18,A774868,Queen,2019-07-22,Austin (TX),Public Assist,Normal,Dog,Spayed Female,1 year,Pit Bull Mix,Brown
19,A800541,NaN,2019-07-22,Highway 35 in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,Chihuahua Shorthair,Tan/Black
20,A794777,Rajah,2019-07-22,Austin (TX),Owner Surrender,Normal,Dog,Neutered Male,2 years,American Pit Bull Terrier,Black Brindle
21,A800534,NaN,2019-07-22,1803 Belford Drive in Austin (TX),Stray,Normal,Cat,Intact Male,4 months,Domestic Shorthair,Brown Tabby
22,A800535,NaN,2019-07-22,1803 Belford Drive in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair,Tortie
23,A800539,NaN,2019-07-22,1803 Belford Drive in Austin (TX),Stray,Normal,Cat,Intact Female,2 months,Domestic Medium Hair,Brown Tabby/White
24,A800537,NaN,2019-07-22,1803 Belford Drive in Austin (TX),Stray,Normal,Cat,Intact Male,1 month,Domestic Shorthair,Orange Tabby
25,A800538,NaN,2019-07-22,1803 Belford Drive in Austin (TX),Stray,Normal,Cat,Intact Female,1 month,Domestic Shorthair,Torbie
26,A800532,NaN,2019-07-22,5007 Heflin Lane in Austin (TX),Stray,Normal,Dog,Intact Male,1 month,German Shepherd Mix,Brown/Black
27,A800530,NaN,2019-07-22,5007 Heflin Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,German Shepherd Mix,Black
28,A800533,NaN,2019-07-22,5007 Heflin Lane in Austin (TX),Stray,Normal,Dog,Intact Male,1 month,German Shepherd Mix,Brown/Black
29,A800531,NaN,2019-07-22,5007 Heflin Lane in Austin (TX),Stray,Normal,Dog,Intact Female,1 month,German Shepherd Mix,Brown/Black
...,...,...,...,...,...,...,...,...,...,...,...
104891,A658012,Lucio,2013-10-01,1505 Darold Dr in Austin (TX),Stray,Normal,Dog,Neutered Male,3 years,Chihuahua Shorthair Mix,Red
104892,A664274,Estrella,2013-10-01,Austin (TX),Owner Surrender,Normal,Dog,Intact Female,8 years,Siberian Husky Mix,Buff
104893,A664253,Moose,2013-10-01,Austin (TX),Public Assist,Normal,Dog,Neutered Male,2 years,Black/Tan Hound Mix,Black/Brown
104894,A639030,Cate,2013-10-01,46Th And Ave G in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,German Shepherd Mix,Tan
104895,A664273,Buffy,2013-10-01,Berkman Dr & Briarcliff Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Dachshund/Chihuahua Shorthair,Brown
104896,A664272,*Grace,2013-10-01,12005 Garden Grove Dr in Austin (TX),Stray,Normal,Dog,Spayed Female,1 year,Cairn Terrier Mix,Brown
104897,A664271,NaN,2013-10-01,Spirit Of Texas in Austin (TX),Stray,Normal,Cat,Intact Female,1 week,Domestic Shorthair Mix,Orange Tabby
104898,A664268,*Kochka,2013-10-01,Austin (TX),Stray,Normal,Cat,Intact Female,3 years,Russian Blue Mix,Blue
104899,A664267,*Asti,2013-10-01,12501 Tech Ridge Blvd in Austin (TX),Stray,Normal,Dog,Intact Female,4 months,Pit Bull Mix,White/Black
104900,A664264,*Mason,2013-10-01,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
104901,A664265,*Dixon,2013-10-01,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,2 months,Domestic Shorthair Mix,Brown Tabby
104902,A664263,NaN,2013-10-01,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
104903,A664262,NaN,2013-10-01,4915 Yager Ln in Austin (TX),Stray,Normal,Cat,Intact Male,1 weeks,Domestic Shorthair Mix,Orange Tabby
104904,A664269,*Bismark,2013-10-01,7500 S Ih 35 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Great Pyrenees Mix,White
104905,A664259,*Petunia,2013-10-01,5001 Creek Bend in Austin (TX),Stray,Normal,Dog,Intact Female,5 years,Pit Bull Mix,Black
104906,A651630,Heather,2013-10-01,Outside Jurisdiction,Owner Surrender,Injured,Dog,Spayed Female,6 years,Labrador Retriever/Chinese Sharpei,Tan
104907,A664260,NaN,2013-10-01,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Black/White
104908,A664261,NaN,2013-10-01,3009 Meldrum St in Del Valle (TX),Stray,Normal,Cat,Intact Female,3 weeks,Domestic Shorthair Mix,Tortie
104909,A648744,Claire,2013-10-01,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Spayed Female,1 year,Anatol Shepherd Mix,White/Tricolor
104910,A664258,Sylvio,2013-10-01,Fm 1626/Manchaca Rd in Travis (TX),Stray,Normal,Dog,Neutered Male,7 years,Weimaraner Mix,Silver
104911,A664266,NaN,2013-10-01,Payton And 183 in Austin (TX),Stray,Normal,Dog,Intact Female,1 year,Chihuahua Shorthair Mix,Buff
104912,A664257,Pippin,2013-10-01,Burleson in Travis (TX),Stray,Normal,Dog,Intact Female,4 years,Podengo Pequeno Mix,Black
104913,A664256,*Donnie,2013-10-01,Austin (TX),Owner Surrender,Normal,Cat,Neutered Male,17 years,Domestic Shorthair Mix,Brown Tabby/White
104914,A664234,NaN,2013-10-01,5400 Jimmy Clay in Austin (TX),Stray,Injured,Dog,Intact Male,8 years,Border Collie Mix,Black/White
104915,A664238,NaN,2013-10-01,Outside Jurisdiction,Stray,Normal,Cat,Unknown,4 months,American Shorthair Mix,Black/White
104916,A664233,Stevie,2013-10-01,7405 Springtime in Austin (TX),Stray,Injured,Dog,Intact Female,3 years,Pit Bull Mix,Blue/White
104917,A664236,NaN,2013-10-01,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
104918,A664235,NaN,2013-10-01,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
104919,A664237,NaN,2013-10-01,Abia in Austin (TX),Stray,Normal,Cat,Unknown,1 week,Domestic Shorthair Mix,Orange/White
104920,A521520,Nina,2013-10-01,Norht Ec in Austin (TX),Stray,Normal,Dog,Spayed Female,7 years,Border Terrier/Border Collie,White/Tan

In [155]:
intake=intake.rename(columns={"DateTime": "date_intake"})

In [156]:
intake['year']=intake["date_intake"].dt.year

In [161]:
merged = pd.merge(animal_outcomes, intake,  how='left', left_on=['Animal ID','year'], right_on = ['Animal ID','year'])

In [168]:
staytime=(merged.date_outcome-merged.date_intake).dt.days

In [169]:
merged['day_in_shelter']=staytime

In [170]:
merged.head()

,Animal ID,Name_x,MonthYear_x,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_x,Sex upon Outcome,Age upon Outcome,Breed_x,...,MonthYear_y,Found Location,Intake Type,Intake Condition,Animal Type_y,Sex upon Intake,Age upon Intake,Breed_y,Color_y,day_in_shelter
0,A798909,NaN,07/22/2019 09:34:00 PM,06/02/2019,Adoption,NaN,Cat,Spayed Female,1 month,Domestic Shorthair,...,07/02/2019 08:38:00 AM,Slaughter And Ih-35 in Austin (TX),Stray,Sick,Cat,Intact Female,4 weeks,Domestic Shorthair,Black,20.0
1,A798933,NaN,07/22/2019 09:33:00 PM,04/17/2019,Adoption,NaN,Cat,Neutered Male,3 months,Domestic Shorthair,...,07/02/2019 11:39:00 AM,Austin (TX),Owner Surrender,Normal,Cat,Intact Male,2 months,Domestic Shorthair,Blue Tabby/White,20.0
2,A800552,NaN,07/22/2019 07:34:00 PM,07/22/2018,Euthanasia,Rabies Risk,Other,Unknown,1 year,Bat,...,07/22/2019 06:22:00 PM,2809 Pectoral Dr in Austin (TX),Public Assist,Normal,Other,Unknown,1 year,Bat,Brown,0.0
3,A799925,NaN,07/22/2019 07:27:00 PM,05/01/2019,Adoption,NaN,Dog,Neutered Male,2 months,Labrador Retriever/German Shepherd,...,07/13/2019 06:55:00 PM,2311 Wirtz Avenue in Austin (TX),Stray,Normal,Dog,Intact Male,2 months,Labrador Retriever/German Shepherd,Black,9.0
4,A800293,Brixton,07/22/2019 07:26:00 PM,07/18/2017,Adoption,NaN,Dog,Neutered Male,2 years,Pit Bull,...,07/18/2019 06:42:00 PM,15450 Fm #1325 in Austin (TX),Stray,Normal,Dog,Neutered Male,2 years,Pit Bull,Brown/White,4.0

In [173]:
merged.groupby(['Outcome Type'])

                  age_days         year     month  age_years  day_in_shelter
Animal Type_x
Bird            511.893305  2016.533473  6.290795   1.402447        8.149474
Cat             554.349621  2016.117230  6.945268   1.518766       16.850265
Dog            1017.491760  2016.190883  6.443069   2.787649       10.747862
Livestock       419.687500  2016.375000  5.187500   1.149829       18.750000
Other           465.878629  2016.081695  6.010640   1.276380        3.329386